@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  overflow: hidden;
}

.overlay {
  border-image: fill 1 linear-gradient(hsl(0 0% 0% / 0.3), hsl(0 0% 0% / 0.3));
}

.container {
  width: 100vw;
  height: 100vh;
  background: url("../src/img/summer.jpg") no-repeat center center/cover;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  height: 100vh;
}

.forecastdays {
  margin: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.forecastday {
  text-align: center;
  padding: 2rem;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.forecastday span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.current {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.current__temp {
  font-size: 8.9rem;
  font-weight: 400;
}

.current__city {
  font-size: 3.75rem;
  font-weight: 400;
}

.current__daytime {
  font-size: 1.125rem;
  font-weight: 400;
}

.current__img {
  width: 5.375rem;
  height: 5.375rem;
}

.weather-right {
  position: fixed;
  right: 0;
  top: 0;
  overflow-y: auto;
  width: 37.5rem;
  height: 100vh;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1.5rem;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search {
  width: 60%;
  padding: 0.65rem;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: #ffffff;
}

.search::placeholder {
  color: #ccc;
}

.search-icon {
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.section-label {
  font-size: 1rem;
  margin: 1rem 0 0.5rem;
  color: #ccc;
  margin-bottom: 1rem;
}

.weather-description {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 600;
}

.weather-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.weather-item span {
  display: flex;
  gap: 0.6rem;
}

.weather-item img {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  margin-left: 0.3rem;
}

.forecast {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}

.forecast-item {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 1rem 1.7rem 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.1);
}

.forecast-item img {
  width: 3rem;
  height: 3rem;
}

.forecast-temp {
  margin-left: 1rem;
}
